<?xml version="1.0" encoding="utf-8"?>
<OSMEditor>
  <osmbaseurl>http://www.openstreetmap.org</osmbaseurl>
  <osmdomainsfilepath>c:\inetpub\wwwroot\osm\osm_domains.xml</osmdomainsfilepath>
  <osmfeaturepropertiesfilepath>c:\inetpub\wwwroot\osm\OSMFeaturesProperties.xml</osmfeaturepropertiesfilepath>
</OSMEditor>