@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<h5>@ViewBag.Error</h5>
<p>
   
   </BR>
   Start Here to download from OpenStreetMap <a href="@Url.Content("~/OsmConfigs/Create")" title="Start">Create</a>.
   
   </BR>
   List Exisiting Services <a href="@Url.Content("~/OsmConfigs")" title="Start">List</a>.
   </BR>
   </BR>
   </BR>
   <a href="http://openstreetmap.org" title="OpenStreetMap">http://openstreetmap.org</a>.

   <br />
   This is only for <a href="~/OsmConfigs/Edit" title="Start">Testing</a>.
</p>
