/*----------------------------------------------------------
The base color for this template is #52994C. If you'd like
to use a different color start by replacing all instances of
#52994C with your new color.
----------------------------------------------------------*/
body
{
    background-color: #003C60;
    font-size: .85em;    
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;    
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 
{
    margin: 0;
}

h3 {
    font-size: 1.2em;
    border-bottom: 1px solid #AAAAAA;
    margin: 0.5em 0;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 68em;
    margin-left: auto;
    margin-right: auto;
}

.footer 
{
    width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    color: #FFF;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#header h1 {
    float: left; 
    margin: 0.5em; 
    padding: 0; 
    line-height: 1em;
}

#main {
    padding: 1em 2em;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #4E9258 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

form 
{
    clear: both;
}

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 2px 5px;
}



/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #339CC7;
    width: 100%;
    
}

table td {
    padding: 5px;
    
    background: #fdf8ec;
}

table th {
    padding: 6px 5px;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    background-color: #339CC7;
    
}

.service-list-row 
{
    clear: both;
    margin-top: 2em;
}
.service-list-row-content 
{
    margin: 0 1em;
    float: left;
}
.service-list-row-actions 
{
    margin-bottom: 0.5em;
    float: right;
}
.service-list-row-data 
{
    margin-top: 10px;
}

/* MISC  
----------------------------------------------------------*/
.button-container 
{
    clear: both;
    margin: 1.5em 0 0 0;
}

.version 
{
    float: left;
    margin: 0;
    margin-top: 1em;
    font-size: 1.2em;
    color: #FFF;
    display: none;
}
.sub-header 
{
    
}
.info 
{
    border-left: 5px solid #E8BE41;
    margin-bottom: 1em;
    padding-left: 0.5em;
}

#OSM-container 
{
    margin-left: 2em;
}

.back-link 
{
    float: right;
}

.title 
{
    height: 2em;
    margin: 1.5em 0;
    width: 100%;
}
.title h2 
{
    width: 30em;
    float: left;
}

.clear {
    clear: both;
}

.error {
    color: Red;
}

nav 
{
    display: none;
} 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    color: #FFFFFF;
    float: right;
    font-size: 1.1em;
    list-style-type: none;
    margin: 1.5em 1em 0 0;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    background: none repeat scroll 0 0 #FFF2F2;
    border: 1px solid #FF7F7F;
    color: #FF0000;
    font-weight: bold;
    padding: 2px 5px;
}

.validation-summary-errors {
    background: none repeat scroll 0 0 #FFF2F2;
    border: 1px solid #FF7F7F;
    color: #FF0000;
    font-weight: bold;
    padding: 2px 5px;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

#map_zoom_slider
{
    width: 50px;
}

#longEditorForExtent
{
     width: 300px;
}

#header {
    height: 64px;
    /*background: url(../Images/banner_bg.png) repeat-x;*/
    margin: 0;
}

#header ul 
{
    color: #FFFFFF;
    float: right;
    font-size: 1.1em;
    list-style-type: none;
    margin: 1.5em 1em 0 0;
}
      
#header ul li {
    float: left;
    padding-top: 0;
}
#header ul li a {
    color: #FFF;
    text-decoration: none;
}
#header ul li a:hover {
    text-decoration: none;
    border-bottom: #FFFFFF 1px dashed;
}

.separator 
{
    border-right: #FFF 1px solid;
    height: 1.5em;
    margin: 0.1em 0.5em;
}
#osmLogo 
{
    float: left;
}

.dijitReset 
{
    background: transparent;
}